@page "/"
@using Mercy.LabSummarization.Web.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Patient List</h1>

@if (patientList.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PatientId</th>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patientList)
            {
                <tr>
                    <td>@patient.PatientId</td>
                    <td>@patient.PatientName</td>
                    <td>@patient.BirthDate</td>
                    <td>@patient.Gender</td>
                </tr>
            }
        </tbody>
    </table>

}


@code {
    private Patient[] patientList = [];

    protected override async Task OnInitializedAsync()
    {        
        patientList = await Http.GetFromJsonAsync<Patient[]>($"/api/patient");
    }
}
